.pro{
    object-fit: cover;
    height: 60vh;
    left: 0%;
    opacity: 0;
    position: absolute;
    top:0;
    z-index: -1;
    width: 30vw;
    
}
.pro-container{
    margin-top: 2vh;
    width: 30vw;
    
    
}
.linear-gradient{
    position: absolute;
    z-index:0 ;
    background-image:linear-gradient(to top ,#101820FF,#101820FF,rgb(16, 24, 32,.5),rgb(16, 24, 32,0),rgb(16, 24, 32,0),rgb(16, 24, 32,0) ) ;
    height: 60vh;
    margin-top: 2vh;
    width: 30vw;
    
}
.about-text{
    position: absolute;
    /* border-right: 20px solid #131313;
    border-bottom: 20px solid #131313;
    box-shadow: rgb(212, 180, 74,.7) .5vw .5vw; */
    color: #101820FF;
    /* border: 1px solid #101820FF; */
    font-size: 2.2vw;
    display: inline;
    text-align: right;
    right:0;
    top: 25vh;
    background-color: #D4B44A;
    line-height: 5vw;
    font-family: 'Ubuntu Mono', monospace;
    opacity: 0;
    box-shadow: #101820FF 2px 2px 5px,
         rgb(212, 180, 74,.5) 0 0 30px;
    
}
/* .about-text:before,.about-text1:before,.about-text2:before{
    content: "";
    position: absolute;
    width: 100%;
    background-color: #D4B44A;
    height: 70%;
    top: 50%;
    transform: perspective(200px) rotateX(50deg);
    filter: blur(30px);
    z-index: -1;
    opacity: .3;
    
} */
.Typewriter{
    color: aliceblue;
}
.about-text1{
    position: absolute;
    opacity: 0;
    color: #101820FF;
    font-size: 2vw;
    display: inline;
    text-align: right;
    right:0;
    top: 42vh;
    background-color: #D4B44A;
    line-height: 5vw;
    font-family: 'Ubuntu Mono', monospace;
    box-shadow: #101820FF 2px 2px 5px,
    rgb(212, 180, 74,.5) 0 0 30px;
    

    
}
.about-text2{
    position: absolute;
    opacity: 0;
    color: #101820FF;
    font-size: 2vw;
    
    text-align: right;
    right:0;
    top: 58vh;
    background-color: #D4B44A;
    line-height: 5vw;
    font-family: 'Ubuntu Mono', monospace;
    box-shadow: #101820FF 2px 2px 5px,
    rgb(212, 180, 74,.5) 0 0 30px;
    
}
.about-text-container{
    
    height: 80vh;
   
    padding: 0 1vw;
    font-size: 5vw;
}
.about-title{
    color: #101820FF;
    font-family: "Noto Sans Display";
    font-size: 7vw;
    line-height: 2vw;
    -webkit-text-stroke: 1px #D4B44A;
    text-align: left;
    margin-left: 2vw;
    opacity: 0;
   
  
    

}

.about-container{
    height: 100Vh;
    padding: 10px;
    
    
}
.about-name{
    position: absolute;
    color: #101820FF;
    font-family: "Noto Sans Display";
    font-size: 6.9vw;
    line-height: 5vw;
    -webkit-text-stroke: 1px #D4B44A;
    text-align: left;
    z-index: -3;
    opacity: 0;
}
.about-body{
    
    width: 70vw;
    margin: 2vw;
    position: relative;
}
@media screen and (max-width: 700px) {
    .about-text-container{
    
        height: 100vh;
       
        padding: 0 1vw;
        font-size: 7vw;
    } 
    .about-body{
    
        width: 100vw;position: relative;
    }
    .about-name{
       
        font-size: 9vw;
        line-height: 5vw;
        
    }
    .about-title{
       
        font-size: 9vw;
        line-height: 2vw;   
    }
    .about-text2{        
        font-size: 2.81vw;        
        
        right:10%;
        top: 50vh;
       
        line-height: 5vh;      
    }
    .about-text1{
    
        font-size: 2.81vw;
        
        top: 42vh;
        right: 10%;
      
        line-height: 5vh;
        
        
    }
    .about-text{
        position: absolute;
        
        font-size: 2.81vw;
        
        right:10%;
        top: 34.5vh;
      
        line-height: 5vh;
        
    }
    .pro{        
        width: 60vw;        
    }
    .linear-gradient{
        
        width: 60vw;
        
    }
    .about-container{
        
        padding: 10px;
        padding-top: 12vh;
        
        
    }
}