.card-continer{
    text-decoration: none;
    height: 100%;
    
    width: 100%;
    
    
}
.hover-element{
    position: absolute;
    height: 50vh;
    background-color: rgba(26, 26, 26, 0.7);
    opacity: 0;
    width: 23vw;
   
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "montserrat";
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: 5px;
    color:aliceblue;
    transition-duration: .3s;
    transition-timing-function: linear;
}
.hover-element:hover{
    opacity: 1;
}
.card-title{
    /* background-color: black;   */
    height: 10%;
    font-size: 1.5vw;
    text-align: center;
    line-height: 2vh;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "montserrat";
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #101820FF;
    font-weight: 600;
    position: absolute;
    text-align: center;
    background-color: rgb(212, 180, 74,.8);
    width: 100%;
    height: 15%;
}

.card-image-container{
    height: 100%;
    
    

}
.card-image{
   object-fit: cover;
   height: 100%;
    width: 100%;
   
  
   
   
}