.contact-container{
    height: 100vh;
    
    
}
.form-line-container{
    display: flex;
    justify-content: space-between;
    width: 40vw;
   
    padding:0 0 1vw 1vw;
    font-size: 3vw;
    color:  #D4B44A;
    font-family: 'Oswald', sans-serif;
    margin:  1.8vh 0;
    text-transform: uppercase;
    border-bottom: #D4B44A 1px solid;
    border-left: #D4B44A 1px solid;
    
}
.contact-title{
    color: #101820FF;
    font-family: "Noto Sans Display";
    font-size: 7vw;
    line-height: 2vw;
    -webkit-text-stroke: 1px #D4B44A;
    text-align: left;
    margin-left: 2vw;
    text-transform: uppercase;
    padding-top: 15vh;
}
.form-cotainer{
    display: flex;
    flex-direction: row;
    width: 70vw;
    display: flex;
    margin-left:5vw;
    padding: 0vw 2vw;
    
}
.form-name{
    border-radius: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255,.8);
    text-align: center;
    
    

}
.form-name:hover{
    background-color: rgb(255, 255, 255);  
    transition-timing-function: linear;
    transition-duration: .3;
}
.form-email:hover{
    background-color: rgb(255, 255, 255);  
    transition-timing-function: linear;
    transition-duration: .3;
}
.form-email{
    border-radius: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255,.8);
    text-align: center;
}
.form-subject{
    border-radius: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255,.8);
    text-align: center;
    
}
.form-subject:hover{
    background-color: rgb(255, 255, 255);  
    transition-timing-function: linear;
    transition-duration: .3;
}
.form-textarea{
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255,.8);
    text-align: center;
    width: 60%;

}
.form-textarea:hover{
    background-color: rgb(255, 255, 255);  
    transition-timing-function: linear;
    transition-duration: .3;
}
.form-submit{
    padding: 0.5vw;       
    width: 100%;
    background-color: #101820FF;
    border: #D4B44A 2px solid;
    color: #D4B44A;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    letter-spacing: 7px;
    border-radius: 10px;
    cursor: pointer;
}
.form-submit:hover{
    background-color:rgb(212, 180, 74,.9) ;
    border: #D4B44A 2px solid;
    color: #101820FF;
    transition-duration: .3;
    transition-delay: .1;
    transition-timing-function: linear;
}
.call-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border: #D4B44A 2px solid;
    width: 100%;
    position: relative;
    font-family: 'Oswald', sans-serif; 
    color:  #D4B44A;
    font-size: 2.5vw;
    font-weight: 700;
    letter-spacing: 7px;
    margin: 1vw;
    border-radius: 50px;
    
}
.call-icon{
    height: 10vw;
    box-shadow: black 0 0 5px;
    position: relative;
    
}
.call-icon::before{
    top:5;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #D4B44A;
}
.number{
   margin-top: 10px;
}
@media screen and (max-width: 700px){
    .form-line-container{
         width: 80vw;       
        padding:0 0 1vw 1vw;
        font-size: 5vw;
        color:  #D4B44A;  
        margin-top: 2vh;  

        
    }
    .form-submit{
       
        font-size: 5vw;
        font-weight: 700;
        letter-spacing: 7px;
        border-radius: 10px;
        cursor: pointer;
        width: 80vw;
        
    }
    .contact-title{
       line-height: 5vw;
       font-size: 8vw;
        padding-top: 12vh;
    }
    .form-cotainer{
        margin-top: 10vh;
        flex-direction: column;       
        
    }
    .call-container{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
    }
}