.intro-container{
   height: 100vh; 
   padding-top: 5vh;
}
.header-container{

}
.header{
    font-weight: 10;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #D4B44A;
    font-family: 'Michroma', sans-serif;
    display: flex;
    flex-direction: column;
    
    
}

.header::after{
    content:"";
    background-image: linear-gradient(to right ,#1313,rgb(212, 180, 73,.1),#1313);
    /* background-color: #D4B44A; */
    height: 1px;
    width: 60%;
    
    max-width: 450px;
    margin: auto;
    
    
}
.text-container{
    position: relative;
    margin-left: 4vw;
    padding: 0;
    width: 50vw;
    transform: scale(1.1);
    
    
    
    
    

}
.namaste{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
    line-height: 0vw;
    font-size: 8.3vw;
    color: rgb(0, 0, 0,0);
    -webkit-text-stroke: 1px #D4B44A;
    position:absolute;
    left: 15vw;
    z-index: -1;
    top:0
   
}
.iam{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 4.5vw;
    transform: rotate(-90deg);
    font-size: 5.8vw;
    margin-left: .5vw;
    opacity: 0;
    
    
    

}
.text-info-container{
    display: flex;
    color: #D4B44A;
    
    
    
}
.salil{
    font-size: 13.33vw;
    line-height: 10.8vw;
    font-family: 'Stick No Bills', sans-serif;
    padding : 0;
    margin : 0;
    opacity: 0;
    
    
}
.rajkarnikar{
    font-size: 5.25vw;
    line-height: 4.6vw;
    font-family: 'Stick No Bills', sans-serif;
    padding : 0;
    margin : 0;
    opacity: 0;
   
}
.right{
    margin-top: 7vw; 
    margin-left:-3.5vw ;
    

}
.left{
   
    padding: 0;
    margin: 0; 
    margin-top: 7vw;
    margin-left: 6vw;    
}
.dev{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1vw;
    line-height: 2vw;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.based{
    font-size: 7.2vw;
    line-height: 5vw;
    margin:0 0 0 -.5vw;
    padding: 0;
    font-weight: 10;
    opacity: 0;
    text-align: left;
    
}
.kathmandu{
    font-size: 4.1vw;
    margin: 0 0 0 -.1vw;
    padding: 0;
    font-weight: 900;
    line-height: 4vw;
    opacity: 0;
}
 .resume-container {    
    padding: 0;
    margin: 0 0 0 -.1vw ;
    /* margin-left: .5vw;
    margin-right: .5vw; */ 
    border-radius: 5px;
    position: relative;
    height: 5vw;
    cursor: pointer;    
    text-align: center;
    text-decoration: none;
    background-color: #D4B44A;
}
/* .resume-container::before{
    opacity: 0;
    position: absolute;
    top: 110%;
    content: "";
    background-color: #D4B44A;
    height: 5px;
    width: 80%;
    left:10%;
    opacity: .8;
    transform: perspective(90px) rotateX(50deg);
    filter: blur(20px);
    
} */

a {
    text-decoration: none;  
}
.resume-text1{
    color: #131313;
    
    font-size: 2.1vw;
    line-height: 2vw;
    margin: 0;
    font-weight: 900;
    padding: 0;
    text-decoration: none;
}
.resume-text{
    color: #171717;
    text-decoration: none;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
    font-size: 3.45vw;
    line-height: 3vw;
    padding: 0;
    margin: 0;
    
}

.follow-text{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
    line-height: 0vw;
    font-size: 4.2vw;
    margin-left: 7vw;
    margin-top: .9vw;
    color: rgb(0, 0, 0,0);
    -webkit-text-stroke: 1px rgb(212, 180, 74);
    /* text-orientation: upright; */
    writing-mode: vertical-rl;
    opacity: 0;
    /* letter-spacing: -1.8vw; */
    
    
    
}
.follow-container{
    margin-left: 2.5vw;
    position: relative;
    width: 22vw;
    
   
   
  
}
.qr-icon{
    height: 20vw;
    width: 20vw;
    object-fit: contain;
    display: flex;
    position: absolute;
    bottom: 20px;
    
}
.follow-icon{
    height: 3.8vw;
    margin-top: .6vw;
    margin: 1vw .8vw 0 .8vw;
    position: absolute;
    left:2vw;
    opacity: 0;
    background-color: #101820FF;
    
   
    
    
}
.follow-icon1{
    height: 3.8vw;
    margin-top: .6vw;
    margin: 1vw .8vw 0 .8vw;
    position: absolute;
    left: 9vw;
    transform: translate(-50%,0%);
    opacity: 0;
    background-color: #101820FF;
    
    
}
.follow-icon2{
    height: 3.8vw;
    margin-top: .6vw;
    margin: 1vw .8vw 0 .8vw;
    position: absolute;
    left: 12vw;
    opacity: 0;
    background-color: #101820FF;
    
    
    
    
}
.follow-icon2:hover{
    
}
.follow-container-out{
    margin-left: 2.5vw;
}

@media screen and (max-width: 700px) {
    .text-container{
       
        transform: scale(1.5);
        margin-top: 30vh;    
    }  
    .follow-container-out{
        margin-left: 18vw;
        transform: scale(1.5);
        margin-top: 31.3vh;
    
    }
}