.intro-container{
    
}
.header-container{

}
.header{
    font-weight: 50;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #D4B44A;
    font-family: 'Michroma', sans-serif;
    display: flex;
    flex-direction: column;
    
    
}

.header::after{
    content:"";
    background-image: linear-gradient(to right ,#1313,rgb(212, 180, 73,.1),#1313);
    /* background-color: #D4B44A; */
    height: 1px;
    width: 60%;
    
    max-width: 450px;
    margin: auto;
    
    
}
.text-container{
    position: relative;
    margin-left: 4vw;
    padding: 0;
    width: 50vw;
    
    
    

}
.namaste{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
    line-height: 0vw;
    font-size: 8.3vw;
    color: rgb(0, 0, 0,0);
    -webkit-text-stroke: 0.3px #D4B44A;
    position:absolute;
    left: 15vw;
    z-index: -1;
    top:0
   
}
.iam{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 4.5vw;
    transform: rotate(-90deg);
    font-size: 5.8vw;
    margin-left: .5vw;
    
    
    

}
.text-info-container{
    display: flex;
    color: #D4B44A;
    
    
}
.salil{
    font-size: 13.33vw;
    line-height: 10.8vw;
    font-family: 'Stick No Bills', sans-serif;
    padding : 0;
    margin : 0;
    
    
}
.rajkarnikar{
    font-size: 5.25vw;
    line-height: 4.6vw;
    font-family: 'Stick No Bills', sans-serif;
    padding : 0;
    margin : 0;
   
}
.right{
    margin-top: 7vw; 
    margin-left:-3.5vw ;
    

}
.left{
   
    padding: 0;
    margin: 0; 
    margin-top: 7vw;
    margin-left: 6vw;    
}
.dev{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1vw;
    line-height: 2vw;
    margin: 0;
    padding: 0;
}
.based{
    font-size: 7.2vw;
    line-height: 5vw;
    margin: 0;
    padding: 0;
    font-weight: 10;
}
.kathmandu{
    font-size: 4.1vw;
    margin: 0;
    padding: 0;
    font-weight: 900;
    line-height: 4vw;
}
.resume-container{
    background-color: #D4B44A;
    padding: 0;
    margin: 0;
    margin-left: .5vw;
    margin-right: .5vw;
    border-radius: 5px;
    position: relative;
    height: 5vw;
    cursor: pointer;
    
}
.resume-text1{
    color: #131313;
    font-size: 2.1vw;
    line-height: 2vw;
    margin: 0;
    font-weight: 900;
    padding: 0;
}
.resume-text{
    color: #171717;
    
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
    font-size: 3.45vw;
    line-height: 3vw;
    padding: 0;
    margin: 0;
}
.follow-container{
  
    margin: 0 ;
    
    
    
}
.follow-text{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
    line-height: 0vw;
    font-size: 4.2vw;
    margin-left: 7vw;
    margin-top: 2.5vw;
    color: rgb(0, 0, 0,0);
    -webkit-text-stroke: 0.3px rgb(212, 180, 74);
    /* text-orientation: upright; */
    writing-mode: vertical-rl;
    /* letter-spacing: -1.8vw; */
    
    
    
}
.follow-icon-container{
    margin-left: 4.5vw;
  
}
.follow-icon{
    height: 3.8vw;
    margin-top: .6vw;
    margin: 1vw .8vw 0 .8vw;
}
/* .downloadlogo-container{
    color: #947613;
    position: absolute;
    top:-75%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: -1;
}
.downloadlogo{
    
} */