.nav-container-side{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right:2%;
    transform: translateY(-50%);
}
.items{
    list-style: none;
    text-decoration: none;
    color: rgb(19, 19, 19,0);
    font-size: 3vw;
    text-align: right;
    line-height: 4vw;
    margin: 5px 0px 5px 0;
    font-family: "Noto Sans Display";
    font-weight: 700;
    -webkit-text-stroke: 1px #D4B44A;
    text-transform: uppercase;
}
.items:hover{
    color: #D4B44A;
    transition-duration: .3s;
    font-family: "Stick No Bills";
    transition-timing-function: linear;
    font-size: 4vw;
    line-height: 4vw;
    
}
.active-items{
    list-style: none;
    text-decoration: none;
    color: #D4B44A;
    font-size: 5vw;
    text-align: right;
    margin: 5px 0px 5px 0;
    font-family: "Stick No Bills";
    font-weight: 900;
    line-height: 4vw; 
    text-transform: uppercase;  
   
}
.nav-container-float{
    display: none;
}
@media screen and (max-width: 700px) {
    .nav-container-side{
        display: none;
    }
    .nav-container-float{
        position: fixed;
        display: flex;
        align-items: center;
        bottom: 2%;
        background-color: #101820FF;
        justify-content: space-around;
        align-content: center;
        border-radius: 50px;
        padding: 5px;
        height: 50px;
        width: 80vw;
        left: 50%;
        transform: translateX(-50%);
        z-index: 6;
        text-decoration: none;
        box-shadow: black  0 0 50px,
            inset 0px 0px 5px gray,
            #D4B44A 0 0 10px;
        border:.5px groove white;
        font-family: "montserrat";
        text-transform: uppercase;
        letter-spacing: 0px;
       
        opacity: 0;
        /* border: 2px inset white ; */
        
    }
    .float{
        
        height: 100%;
        display: flex;
        place-items: center;
        cursor: pointer;
        color: #D4B44A;
        text-shadow: #D4B44A 0 0 1px ;
        font-size: 2.5vw;
        
    }
    .active-float{
        background-color: rgb(212, 180, 74,.8);
        color: black;
        font-weight: bold;
        text-shadow: black 0 0 1px;
        padding: 0px 15px;
        box-shadow: inset black 0 0 10px;
        border-radius: 50px;
        position: relative;
        height: 100%;
        display: flex;
        place-items: center;
        cursor: pointer;
        font-size: 3vw;
       
    }
    .active-float:before{
        content: "";
        position: absolute;
        width: 85%;
        height: 85%;
        background-color: rgb(212, 180, 74,.5);
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        border-radius: 50px;
        filter: blur(10px);
    }
}