.carousel{
    width: 75vw;
    margin-left: 2vw;
   
  
   
   
}

.slider-containers{
 
}
.container-card{
    margin:10px 0px ;
    
    height: 40vh;
    float: left;
    
    width: 23vw !important;
    position: relative;
   
       
}
@media screen and (max-width: 750px) {
    .container-card{
        height: 35vh;
        margin: auto;
        width: 80vw !important;
        position: relative;
       
           
    }
    .carousel{
        width: 90vw;
        margin: 2vw;     
    }
    
}