.carousel{
    width: 75vw;
    margin-left: 2vw;
   
  
   
   
}

.slider-containers{
 
}
.container-card{
    margin:10px 0px ;
    background-color:  rgb(212, 180, 74,.6) ;
    height: 40vh;
    float: left;
   
    width: 23vw !important;
    position: relative;
   
       
}