.work-container{
    height: 100Vh;
    
    
    width: 75vw;
    
}
.work-title{
    color: #101820FF;
    font-family: "Noto Sans Display";
    font-size: 7vw;
    line-height: 2vw;
    -webkit-text-stroke: 1px #D4B44A;
    text-align: left;
    margin-left: 2vw;
    opacity: 0;
    padding-top: 15vh;
}
.github-container{
    font-size: 5vw;
    opacity: 0;
    text-transform: uppercase;
    font-family: 'Noto Sans Display', sans-serif;
    text-decoration: none;
    -webkit-text-stroke: 1px #D4B44A;
    color: #101820FF;
    margin-left: 5vw;
}  
.github-link{
    text-decoration: none;
    
    -webkit-text-stroke: 1px #D4B44A;
}


.carousel-container{
    width: 50vh;
    display: flex;
   
    
}