.name{
  text-align: center;
  position: sticky;
  top: 2vh;
  z-index: 1;
  font-size: 2.5vw;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  
}
.firstname{
  font-weight: 600;
  color: rgb(212, 180, 74);
}
.lastname{
  font-weight: 200;
  -webkit-text-stroke: .3px #D4B44A;

}