.App{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.section-margin{
  scroll-snap-align: start;
}
.name{
  text-align: center;
  position: sticky;
  top: 2vh;
  z-index: 1;
  font-size: 2.5vw;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: center;
  
}
/* .name:before{
  content: "";
    position: absolute;    
    width: 100%;
    margin-left: -2.5%;
    background-color: #D4B44A;
    height: 5px;
    top: 100%;
    transform: perspective(500px) rotateX(50deg);
    filter: blur(0px);
    z-index: -1;
    opacity: 1;
}.name:after{
  content: "";
    position: absolute;    
    width: 100%;
    margin-left: 0%;
    background-color: #D4B44A;
    height: 5px;
    top: 120%;
    transform: perspective(500px) rotateX(50deg);
    filter: blur(10px);
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    z-index: -2;
    opacity: .8;
    left: 0;
} */
.firstname{
  font-weight: 600;
  color: rgb(212, 180, 74);
}
.lastname{
  font-weight: 200;
  color: rgb(212, 180, 74);

}
@media screen and (max-width: 700px) {
  .name{
    
    top: 1.5vh;
    z-index: 1;
    font-size: 4vw;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    
  }
}